@import url(https://fonts.bunny.net/css?family=arbutus:400);
@import url(https://fonts.bunny.net/css?family=atomic-age:400);
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
html {
    scroll-behavior: smooth;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}
.nav-bar {
  background-color: crimson;
  height: 70px;
  position: fixed;

  z-index: 1000;
  width: 100%;

  padding: 0;
  background-image: url("moreuseful.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Arbutus", display;
}
.nav-bar ul {
  list-style: none;
  padding: 0 0 0 0;
}
.nav-bar-stat a:hover {
  background: black;
}
.nav-bar-hidden {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.9;
  overflow-x: hidden;
  background: #111;
  padding-top: 100px;
  transition: 0.5s;
}
.nav-bar-stat {
  float: right;
  display: flex;
  height: 70px;

  margin-top: 0;
  padding: 0 16px;
}
.nav-bar-stat a {
  display: block;
  color: white;
  text-align: center;
  padding: 27px 16px;
  padding-bottom: 24px;
  font-size: 16px;
  text-decoration: none;
}
.nav-bar-hidden a {
  text-decoration: none;
  display: block;
  padding: 14px 16px;
  font-size: 17px;
  text-align: center;
}
.nav-bar-hidden {
  margin-top: 0;
}
#main {
  text-align: center;
  background-image: url("FanDo-Dora-VNa.png");
  background-size: cover;
  height: 450px;
  z-index: 0;
  position: relative;
  border: 5px solid #e1d9c9;
  border-radius: 4px;
  top: 4.375em;
  margin-bottom: 70px;
  opacity:0;
  animation-name: main;
  animation-duration: 6s;
  animation-delay: 4.6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

}
@keyframes main{
    from {opacity:0;}
    to {opacity:1;}
}
.Open-slide svg {
  padding: 24px 16px;
}
.nav-bar-hidden .btn-close {
  position: absolute;
  right: 0;
  top: 50px;
  font-size: 40px;
  color: white;
}
.btn-close:hover {
  color: red;
}
.btn-close:active {
  color: red;
}
#main h1 {
  margin: 0;
  position: absolute;
  top: 27%;
  left: 21%;
  font-family: "Atomic Age", display;
  color: #e8d8a5;
  font-size: 2em;
  
}
main {
  padding: 0 80px;
 opacity: 0;
 animation-name: k1;
 animation-duration: 6s;
 animation-delay:4s;
 animation-timing-function: linear;
 animation-fill-mode: forwards;
}
@keyframes k1 {
    from {opacity:0}
    to {opacity:1}
}


/*table*/
table,
tr,
td,
th {
  border: 5px red solid;
  border-collapse: collapse;
}
/*table*/

.psudo {
  position: absolute;
  right: 0;
  top: 80px;
}
.hk {
  background: red;
  width: 425px;
  text-align: center;
  color: whitesmoke;
}
.hk p {
  margin-bottom: 0;
}
.hk h1 {
  margin-top: 0;
}
.img-container {
  padding: 0 10px;
}
.img-container aside {
  text-align: center;
  font-weight: bolder;
}

/*============================================================
charaters
============================================================*/

#nobita {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 4px;
}
.nobita-general {
  border: 4px solid black;
  display: flex;
}
.nobita-quote {
  background: yellow;
  border: 5px solid black;
  box-shadow: 5px 10px 8px #888888;
  padding: 12px;
  clear: both;
  position: relative;
}

#Shizuka {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 4px;
  margin-top: 20px;
}
.shizuka-general {
  border: 4px solid black;
  display: flex;
}
.shizuka-quote {
  background: pink;
  border: 5px solid black;
  box-shadow: 5px 10px 8px #888888;
  padding: 12px;
  clear: both;
  position: relative;
}

#doraemon {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 4px;
  margin-top: 20px;
}
.doraemon-general {
  border: 4px solid black;
  display: flex;
}
.doraemon-quote {
  background: blue;
  border: 5px solid black;
  box-shadow: 5px 10px 8px #888888;
  padding: 12px;
  clear: both;
  position: relative;
}

#suneo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 4px;
  margin-top: 20px;
}
.suneo-general {
  border: 4px solid black;
  display: flex;
}
.suneo-quote {
  background: lightblue;
  border: 5px solid black;
  box-shadow: 5px 10px 8px #888888;
  padding: 12px;
  clear: both;
  position: relative;
}

#chaien {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 4px;
  margin-top: 20px;
}
.chaien-general {
  border: 4px solid black;
  display: flex;
}
.chaien-quote {
  background: orange;
  border: 5px solid black;
  box-shadow: 5px 10px 8px #888888;
  padding: 12px;
  clear: both;
  position: relative;
}

/*============================================================
table colors for each characters
============================================================*/

.hk-nobita {
  background: #f1970d;
}
.table-nobita tr th,
.table-nobita tr td {
  border-color: #f1970d;
}

.hk-shizuka {
  background: #e6aad4;
}
.table-shizuka tr th,
.table-shizuka tr td {
  border-color: #e6aad4;
}

.hk-doraemon {
  background: #5a8bdb;
}
.table-doraemon tr th,
.table-doraemon tr td {
  border-color: #5a8bdb;
}

.hk-suneo {
  background: #00f1e9;
}
.table-suneo tr th,
.table-suneo tr td {
  border-color: #00f1e9;
}

.hk-chaien {
  background: #ffb668;
}
.table-chaien tr th,
.table-chaien tr td {
  border-color: #ffb668;
}
.intro {
    
width:100%;
   height:100%;
   position: absolute;
   top:70px;
   background-image: url('making.gif');
   background-size: 500px 300px;
   background-repeat: no-repeat;
   background-position: center;
   animation-name: test;
   animation-duration: 4s;
   animation-fill-mode: forwards;
   animation-timing-function: linear;

   
}
@keyframes test {
    0% {  background-size:500px 300px}
    25% { background-size: 700px 400px}
    50% {  background-size: 850px 450px}
    68% {  background-size: 900px 500px}
    85% { background-size: 950px 550px}
    100% {  background-size: 1000px 600px}

}
.intro h1 {
    color: #f0b0bc;
    font-family: 'DynaPuff', cursive;
    animation-name: h1;
    position: absolute;
    top:0;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: 0.5s;
}
@keyframes h1 {
    0% { top:0px; background-size:500px 300px}
    25% { top:100px;left:0; background-size: 700px 400px}
    50% { top:200px; left:100px; background-size: 850px 450px}
    68% { top:300px; left:200px; background-size: 900px 500px}
    85% {top:300px; left:350px; background-size: 950px 550px}
    100% { top:200px;left:350px; background-size: 1000px 600px}

}

.intro div {
    position: absolute;
    left:480px;
    top:-120px;
    opacity:0;
    animation-name: img;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    transition: .9s;

}
@keyframes img {
    from {opacity: 0}
    To { opacity:1}
}
.container-intro {
    opacity:1;
    animation-name: intro;
    animation-delay: 4.6s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}
@keyframes intro{
    from {opacity:1}
    to { opacity:0}
}
.dropdown {
  position: relative;
  display: inline;
  font-size: 40px;
  box-sizing: border-box;
}
.dropdown-menu {
 
  position: absolute;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding:0 0;
  z-index: 1;
  text-align: center;
  margin:0;
  border: 5px solid #e1d9c9;
  right:40px;
  height:auto;

  
}
.dropdown-menu a {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  display:block;
  padding:10px 0;
  font-size: 20px;
  
}
.dropdown-menu a:hover {
  background: rgba(0, 0, 0, 0.2);
  width:100%;
  padding: 10px 0px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}